<h1>Resultado de búsqueda</h1>
<hr>
<p>Aquí se mostrarían los resultados de la BBDD o de una API para los vuelos de {{origin_city}} a {{destination_city}}
    para {{adults}} adultos el día {{departure_date}}</p>

<a href="/buscar" class="btn btn-dark">Volver al formulario</a>