<h1>Formulario de búsqueda</h1>
<hr>

<form method="GET" action="/resultados">

    Origen: <input type="text" name="origin_city">
    <br><br>
    Destino: <input type="text" name="destination_city">
    <br><br>
    Adultos: <input type="number" name="adults">
    <br><br>
    Fecha: <input type="date" name="departure_date">
    <br><br>

    <input type="submit" value="Buscar vuelos">
</form>